

<div class="page-content " style="background-color: beige">
    <div class="content-block">
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="text" placeholder="Your name">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <input type="password" placeholder="Password">
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <p class="buttons-row">
                    <button  class="button button-fill button-raised">登录</button>
                    <button  class="button button-fill button-raised color-red">取消</button>
                </p>
            </div>

</div>
